<!-- <link rel="stylesheet" href="aroma.css">
<h1><span class="font_test">Aroma effect</span></h1>
<section class="wrapper">
    <div class="container">
        <div class="content">
            <div class="content-item">
                <img src="image/ebi.jpeg" class="image">
            </div>    
            <div class="content-item">
                <div class="text">
                    <h2 class="heading">VISION</h2>
                    <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
                </div>
            </div>
        </div>
    </div>
</section> -->

<link rel="stylesheet" href="static/css/aroma.css">
<h1 style = "text-align:center"><span class="font_test"><font size='10'><big><big>Aroma effect</big></big></font></span></h1>
<!-- <div class="class1">
    <img src="static/image/diffuse.png" class="image" width="900">
  </div> -->
<div class="class1">
<img id ="mypic" src="static/image/6.png" width="900">
<div class="bg"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
<script src="static/js/aroma.js"></script>
</div>